@inherits LayoutComponentBase

<section class="phase-banner">
    <span>ALPHA</span><span>This site will change as we test ideas.</span>
</section>
<section class="container">
    <header>
        <div class="brand col-xs-5 col-md-4">
            <img src="sig-blk-en.svg" class="cn-flag" />
        </div>
    </header>
</section>

<nav class="gcweb-menu">

</nav>

<section class="container">

    <a href="">Home</a>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

    <footer>
        <div class="landscape">
            <nav class="container">

            </nav>
        </div>
    </footer>
</section>

@code {

}