@inherits LayoutComponentBase

<section class="phase-banner">
    <span>DISCOVERY</span><span>This site will change as we test ideas.</span>
</section>

<Header />

<section class="container">

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

</section>

<Footer />

@code {

}