@page "/"

<section class="Home-Section">
    <h1 class="title">Welcome to the Information Finder for Transport Canada’s Marine Safety Certifications</h1>
    <p>See information on what’s needed to apply for or renew your certification.</p>
</section>
<nav class="page-actions center">
    <a class="button" href="info">Get Started</a>
</nav>
@code {
}