@page "/"

<section class="Home-Section">
    <h1 class="title">Welcome to Transport Canada’s Marine Safety Certificate Information Finder</h1>

</section>
<nav class="page-actions center">
    <a class="button" href="info">Get Started</a>
</nav>
@code {
}