@page "/info"


<h1 class="page-title">
    This finder is for...
</h1>

<ul>
    <li>People wanting to become certified seafarers.</li>
    <li>Existing seafarers looking to renew their certification.</li>
</ul>

<p>A seafarer is someone who works on a commercial marine vessel.</p>

<h1 class="page-title">
    This finder isn’t for...
</h1>

<p>
    People who are pleasure craft operators (you’ll want to see
    <a href="https://www.tc.gc.ca/eng/marinesafety/debs-obs-paperwork-paperwork_operator-360.htm">National Pleasure Craft Operator Competency Program</a>).
</p>

<nav class="page-actions center">
    <a class="button" href="quiz">Find your certificate</a>
</nav>

@code {
}
