@page "/info"

<h3>Info Page</h3>

<h1>
    This finder is for...
</h1>

<ul>
    <li>People wanting to become certified seafarers.</li>
    <li>Existing seafarers looking to renew their certification.</li>
</ul>

<h1>
    This finder isn’t for...
</h1>

<p>
    People who are pleasure craft operators (you’ll want to see
    <a href="https://www.tc.gc.ca/eng/marinesafety/debs-obs-paperwork-paperwork_operator-360.htm">National Pleasure Craft Operator Competency Program</a>).
</p>

<a class="btn btn-primary" href="quiz">Take our quiz</a>
<a class="btn btn-primary" href="certificate">Choose a certification</a>

@code {

}
