@page "/nextstep"

<h1 class="page-title">
    Next Steps
</h1>

<p>Once you have all of the information required,
    you can apply or renew for your desired certification.
    Please visit a <a href="https://www.tc.gc.ca/eng/regions.htm">regional office</a> with your supporting documentation
    to apply or renew. If you have questions, please direct them to one of the following channels:</p>

<ul>
    <li>Phone:  613-991-3120</li>
    <li>Toll Free:  1-855-859-3123</li>
    <li>Fax: 613-990-1538</li>
    <li>Email:  <a href="mailto:marinesafety-securitemaritime@tc.gc.ca">marinesafety-securitemaritime@tc.gc.ca</a></li>
</ul>

<a class="button" href="certificate">Back</a>
@code {
}
