/*
    CERTIFICATE PAGE
*/
.Home-Section {
    padding-top:100px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    background: url('../homepage-boat.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}

    .Home-Section h1 {
        width: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 2.8em;
        color: #26384A;
    }

.page-title {
    font-weight: bold;
    color: #26384A;
    border-bottom: 5px solid darkred;
}

.sub-section {
    display: flex;
    flex-direction: row;
}

.sub-section .icon img {
    max-height:60px;
    margin: 0px 10px;
}

.sub-section ul {
    padding: 0px 25px;
}

    .sub-section h3 {
        font-weight: bold;
        font-size: 1.4em;
        color: #475D7A;
    }

.page-actions {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.quiz-anwser-container {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.page-actions.center {
    justify-content: center;
}

a.button {
    background-color: #475D7A;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    margin: 4px 2px;
    cursor: pointer;
}

button.button {
    font-size: 1.6em;
    background-color: #475D7A;
    padding: 15px 30px;
    color: white;
}

.quiz-anwser-container button.button-quiz {
    width: 40%;
    padding: 60px 60px;
}
/*
<h1 class="page-title" > Requirements for [cert.name]</h1 >

<h2 > Listed below are the complete requirements you need to obtain your chosen certificate: [cert.name]</h2 >

<section class="sub-section cdn" >
<h3 > Candidate Document Number (CDN)</h3 >
<p >
All seafarer certifications require a CDN.
<a href="#" > How to obtain CDN</a >
</p >
</section >

<section class="sub-section education_and_training" >
<h3 > Education and Training</h3 >
</section >

<section class="exams" >
<h3 > Exams</h3 >
<ul >
<li > [Exam 1] <a href="#" > How to obtain</a > </li >
<li > [Exam 2] <a href="#" > How to obtain</a > </li >
</ul >
</section >

<section class="sub-section medical" >
<h3 > Medical</h3 >
<p >
All seafarers are required to have a medical certificate.
<a href="#" > Find eligable medical examiners.</a >
</p >
</section >

<section class="sub-section qualifying_service" >
<h3 > Qualifying Service</h3 >
<p > The qualifying service represents the amount of experience
needed for the chosen certificate. For <b > [name of certificate]</b >,
you require:</p >
<ul >
<li > x years of service.</li >
<li > <a href="#" > "Statement of qualifying service"</a > </li >
</ul >
</section >

<nav >
<button class="button button-back" > Back</button >
<button class="button button-print" > Print this page</button >
<button class="button button-email" > Email this page</button >
</nav >
    */