/*
    ALPHA BANNER
*/
.phase-banner {
    background: #f4f4f4;
    padding: 20px;
}

    .phase-banner span:first-of-type {
        padding: 1px 5px;
        border: 2px solid #000;
        letter-spacing: 1px;
        margin-right: 1.7em;
    }

/*
    CERTIFICATE PAGE
*/
.Home-Section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    background: url('../homepage-boat.png');
    background-size: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

    .Home-Section h1 {
        width: 60%;
        text-align: center;
        font-weight: bold;
        font-size: 2.8em;
        color: #26384A;
        border-bottom: 0;
    }

    .Home-Section p {
        font-weight: bold;
    }

h2 {
    font-size: 1.6em;
    color: #475D7A;
}

.page-title {
    font-weight: bold;
    color: #26384A;
    border-bottom: 5px solid #B14249;
}

.sub-section {
    display: flex;
    flex-direction: row;
}

    .sub-section .icon img {
        max-height: 60px;
        margin: 0px 10px;
    }

    .sub-section ul {
        padding: 0px 25px;
    }

    .sub-section h3 {
        font-weight: bold;
        font-size: 1.4em;
        color: #475D7A;
    }

.page-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-anwser-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-actions.center {
    justify-content: center;
}

a.button {
    background-color: #475D7A;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    margin: 4px 2px;
    cursor: pointer;
}

button.button {
    font-size: 1.6em;
    background-color: #475D7A;
    padding: 15px 30px;
    color: white;
}

.question {
    text-align: center;
    border-radius: 25px;
    background: #C7D0D8;
    padding: 30px 40px;
}

    .question .question-ask {
        color: #26384A;
    }

.quiz-anwser-container a.button-quiz {
    width: 40%;
    color: white;
    padding: 10vh;
    border-radius: 25px;
}

    .quiz-anwser-container a.button-quiz:hover {
        color: white;
    }

select {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
